<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LibraryManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>Servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addborrower</servlet-name>
    <servlet-class>Servlet.addborrower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addborrower</servlet-name>
    <url-pattern>/addborrower</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>Servlet.Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Checkin2</servlet-name>
    <servlet-class>Servlet.Checkin2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkin2</servlet-name>
    <url-pattern>/Checkin2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Checkin</servlet-name>
    <servlet-class>Servlet.Checkin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkin</servlet-name>
    <url-pattern>/Checkin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>computepayment</servlet-name>
    <servlet-class>Servlet.computepayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>computepayment</servlet-name>
    <url-pattern>/computepayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>refreshfine</servlet-name>
    <servlet-class>Servlet.refreshfine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>refreshfine</servlet-name>
    <url-pattern>/refreshfine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>finepayment</servlet-name>
    <servlet-class>Servlet.finepayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finepayment</servlet-name>
    <url-pattern>/finepayment</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>user</servlet-name>
    <servlet-class>Servlet.user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
</web-app>